:root{
    --bordo:#810e0b;
    --rosa:#febea3;
    --pastel:#fce5b1;
    --claro:#f6f5da;
}

header{
    background-color: var(--bordo);
    display: flex;
    text-align: center;
    color: var(--pastel);
}

body{
    background-color: var(--rosa);
   
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: var(--bordo);
    color: var(--pastel);
}

.torta {
    display: flex;
}

