:root{
    --bordo:#810e0b;
    --rosa:#febea3;
    --pastel:#fce5b1;
    --claro:#f6f5da;
}

header{
    background-color: var(--bordo);
}

body{
    background-color: var(--rosa);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tortilha{
    display: flex;
    align-items: center;
}
 
monoffe{
    display: flex;
    text-align: center;
}

torta de morango com bis{
     display: flex;
    text-align: center;
}


footer{
    background-color: var(--bordo);
}