:root{
    --bordo:#810e0b;
    --rosa:#febea3;
    --pastel:#fce5b1;
    --claro:#f6f5da;
}

    

header{
    background-color: var(--bordo);
}

body{
    background-color: var(--rosa);
}